@import '../var.scss';

.sm-profile {
	padding-top: 20px;
	height: 100%;
    @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
        height: 75%;
        width: 90%;
        margin: auto;
        margin-top: 5%;
    }
	@media screen and (min-width: $screen-lg) and (max-width: $screen-xlg) {
        height: 85%;
        width: 85%;
        margin: auto;
        margin-top: 5%;
    }
    @media screen and (min-width: $screen-xlg) and (max-width: $screen-xxlg) {
        height: 80%;
        width: 80%;
        margin: auto;
        margin-top: 2%;
    }
    @media screen and (min-width: $screen-xxlg) {
        height: 80%;
        width: 80%;
        margin: auto;
        margin-top: 2%;
    }
	.sm-profile-user {
        padding: 25px 15px;
		margin-bottom: 20px !important;
		li {
			font-size: 17px;
		    padding: 5px;
		    color: $color-text;
		}
	}
	.sm-upload-profile {
		text-align: center;
    	padding: 20px;
    	.sm-button {
    		border: 1px solid $marroon-light !important;
    	}
	}

	.sm-profil-stat {
		padding: 15px;
    	margin-bottom: 30px;
		img { 
			width: 45px; 
			margin-left: 20px;
		}
		p {
			display: inline;
		    margin-left: 20px;
		    color: $color-text;
		    font-size: 18px;
		    span {
				color: white;
		    	font-size: 18px;
			}
		}
	}
	.sm-profil-stat-last { margin-bottom: 20px;}
}