@import '../var.scss';

.ap-profile {
	.sm-profile-user {
		li {
			font-size: 17px;
		    padding: 5px;
		    color: $color-text;
		}
	}
	.sm-upload-profile {
		text-align: center;
    	padding: 20px;
	}

	.sm-sheet-mid {
		margin-top: 20px;
	}
	.sm-profil-stat {
		img {
			width: 45px;
		}
		p {
			display: inline;
		    margin-left: 20px;
		    color: $color-text;
		    font-size: 18px;
		    span {
				color: white;
		    	font-size: 18px;
			}
		}
	}

}