@import '../var.scss';

.sm-profile {
	padding-top: 20px;
	height: 100%;
    @media screen and (min-width: $screen-sm) {
	    height: 85%;
	    width: 85%;
	    margin: auto;
	    padding-top: 5%;
    }
	.sm-profile-user {
        padding: 25px 15px;
		margin-bottom: 20px !important;
		li {
			font-size: 17px;
		    padding: 5px;
		    color: $color-text;
		    input {
		    	user-select: none;
		    }
		}
	}
	.sm-upload-profile {
		text-align: center;
    	padding: 20px;
    	.sm-button {
    		border: 1px solid $marroon-light !important;
    	}
	}

	.sm-profil-stat {
		padding: 15px;
    	margin-bottom: 30px;
		img { 
			width: 45px; 
			margin-left: 20px;
		}
		p {
			display: inline;
		    margin-left: 20px;
		    color: $color-text;
		    font-size: 18px;
		    span {
				color: white;
		    	font-size: 18px;
			}
		}
	}
	.sm-profil-stat-last { margin-bottom: 20px;}
}