@import 'var.scss';

html, body, .app, .ap-app {
	height: 100%;
    user-select: none;
}

.ap-app {

    ::-webkit-scrollbar {
        width: 20px;
    }  
    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: $marroon-dark;
        min-height: 50px;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

	a {
		color: $color-text;
		text-decoration: none;
		cursor: pointer;
		&:hover, &:focus { color: $color-text; }
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.sm-hide { display: none; }

	.sm-max-height { height: 100%; }

	.sm-cursor-disabled {
		cursor: no-drop !important;
	}

	.sm-busy {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.25);
		display: flex;
    	align-items: center;
    	justify-content: center;
    	@keyframes busy-bars {
		    0% {
		        transform: scaleY(1) scaleX(1);
		        background-color: $color-text;
		    }
		    30% {
		        transform: scaleY(1.5) scaleX(1.1);
		        background-color: $color-text;
		    }
		    60% {
		        transform: scaleY(1) scaleX(1);
		        background-color: $color-text;
		    }
		    100% {
		        transform: scaleY(1) scaleX(1);
		        background-color: $color-text;
		    }
		}
    	.ap-busy-bar { background: $color-text; }
	}
	.sm-sheet {
		background-image: radial-gradient($marroon-light2 50%, $marroon-dark2 100%);
		border: 2px solid $color-text;
		width: 100%;
	    margin: 0 auto;
	    padding: 10px;
	    border-radius: 5px;
	}
	.sm-sheet-top { margin-top: 20px; }
	.sm-content {
		background-color: $marron;
		border-radius: 5px;
		padding: 25px;
	}
	.sm-label {
		color: $color-text;
	    font-family: $font;
	}
	.sm-input {
		&:focus {outline:0 !important;}
		width: 100%;
		display: block;
		background-color: $black; 
	    padding: 10px;
	    color: $color-text;
	    border-color: $color-text;
	}
	.sm-upload {
		&:focus {outline:0 !important;}
		.sm-upload-label {
			display: block;
		    padding: 10px;
		    background-color: $black;
		    cursor: pointer;
		}
		input[type="file"] {
		    display: none !important;
            &+.sm-button { margin-left: 15px; }
		}
		.sm-upload-button {
			margin-top: 15px;
			margin-bottom: 5px;
			text-align: center;
		}
		.sm-home-text { color: $color-text; }
	}
	.sm-checkbox {
		margin-left: 10px;
		font-size: 20px;
	}
	.sm-button {
		&:focus {outline:0 !important;}
		padding: 10px 20px;
	    border-radius: 5px;
	    background-image: radial-gradient($marroon-light 50%, $marroon-dark 100%);
		border-color: $marroon-light;
	    color: white;
	    font-size: 18px;
	    font-family: $font;
	    text-shadow: 
            2px 2px 3px black,
            2px -2px 3px black,
            -2px -2px 3px black,
            -2px 2px 3px black;
	    &:hover {
	    	background-image: radial-gradient($marroon-light2 50%,$marroon-dark2 100%);
	    	color:	$color-text;
	    }
	}
	.sm-button-disabled {
	    background-color: grey !important;
	    background-image: initial !important;
	    cursor: no-drop !important;
	    border-color: white !important;
	}
	.sm-error { color: $color-text-error; }

	//CHANGE COLOR of PLACEHOLDER INPUT
	*::-webkit-input-placeholder {
	    color: $color-text;
	}
	*:-moz-placeholder {
	    /* FF 4-18 */
	    color: $color-text;
	}
	*::-moz-placeholder {
	    /* FF 19+ */
	    color: $color-text;
	}
	*:-ms-input-placeholder {
	    /* IE 10+ */
	    color: $color-text;
	}

	.sm-section {
		height: 100%;
		background-image: linear-gradient(-90deg, $marroon-light2, $marroon-dark2);
		@media screen and (min-width: $screen-md) {
			margin-left: 20%;
		}
		header {
			background-image: radial-gradient($marroon-light 30%,$marroon-dark 70%);
		    border-color: $marroon-dark;
		    height: 10%;
		    @media screen and (min-width: $screen-md) {
				height: 3%;
			}
		    img {
		    	display: block;
		    	margin: auto;
		    	@media screen and (max-width: $screen-xs) {
					width: 40%;
				}
		    	@media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
					width: 22%;
				}
		    	@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
					width: 18%;
				}
		    	@media screen and (min-width: $screen-md) {
					display: none;
				}
		    }
		    i {
		    	position: absolute;
			    top: 2.5%;
			    right: 4%;
			    cursor: pointer;
			    color: $color-text;
			    background-color: rgba(46, 29, 16, 0.8);
			    padding: 10px;
			    @media screen and (min-width: $screen-md) {
					display: none;
				}
		    }
		}
		.sm-container {
			width: 100% !important;
			height:80%;
   			overflow: auto;
   			@media screen and (min-width: $screen-md) {
				height:87%;
			}
		}
		footer {
			background-image: linear-gradient(-90deg, $marroon-light2, $marroon-dark2);
			height: 10%;
		    .sm-footer {
				background-color: $black;
				border-top: 2px solid $marroon-light;
				padding: 1.5%;
				height: 100%;
				.sm-copyright {
					text-align: center;
					color: $color-text;
					font-family: $font;
				}
			}
		}
	}
	.sm-form-paypal {
		width: 80%;
		margin: auto;
		text-align: center;
		.sm-paypal {
			margin-top: 20px;
			@media screen and (max-width: $screen-lg) {
				width: 100%;
			}
			@media screen and (min-width: $screen-md) {
				width: 80%;
			}
		}
	}

	.sm-sidebar {
		background-image: radial-gradient($marroon-light 65%,$marroon-dark 100%);
		border-color: $marroon-dark;
		position: absolute;
		height: 100%;
		width: 20%;
		display:none;
		@media screen and (min-width: $screen-md) {
			display: initial;
		}
		.sm-sidebar-logo-content { 
			text-align: center;
			.sm-sidebar-logo {
				width: 100%;
			    padding: 10px;
			    border-bottom: 2px solid $marroon-dark;
			    margin-bottom: 35px;
			    cursor: pointer;
			}
		}
		.sm-sidebar-profile {
			margin-bottom: 35px;
			text-align: center; 
			.sm-sidebar-profile-img {
				max-width: 130px;
			    width: 100%;
			    margin: auto;
			    display: block;
			    cursor: pointer;
			}
			a, a:hover, a:focus {
				text-decoration: none;
				color: $marroon-dark2;
			    font-size: 15px;
			}
		}
		ul {
			width: 60%;
    		margin: auto;
    		li {
    			margin-top: 10px;
				border-bottom: 2px solid $marroon-dark;
				font-family: 'Exo', sans-serif;
				&:hover {
					background-image: radial-gradient($marroon-light2 50%,$marroon-dark2 100%);
				}
				a {
					color: $marroon-dark2;
				    font-size: 16px;
				    width: 100%;
				    display: block;
				    padding: 10px;
				    &:first-letter { text-transform:capitalize; }
				    &:hover { color: $color-text; }
				}
				.activePage {
					background-image: radial-gradient($marroon-light2 50%,$marroon-dark2 100%);
					color: $color-text;
				}
    		}
		}
	}

	.sm-sidebar-mobile {
		background-image: radial-gradient($marroon-light 65%,$marroon-dark 100%);
		border-color: $marroon-dark;
		position: absolute;
		height: 100%;
		width: 50%;
		z-index: 15;
		@media screen and (max-width: $screen-xs) {
			width: 50%;
		}
    	@media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
			width: 40%;
		}
    	@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
			width: 30%;
		}
    	@media screen and (min-width: $screen-md) {
			display: none;
		}
		.sm-sidebar-logo-content { 
			text-align: center;
			.sm-sidebar-logo {
				width: 100%;
			    padding: 10px;
			    border-bottom: 2px solid $marroon-dark;
			    margin-bottom: 35px;
			    cursor: pointer;
			}
		}
		.sm-sidebar-profile {
			margin-top: 20px;
			margin-bottom: 35px;
			text-align: center; 
			.sm-sidebar-profile-img {
				max-width: 130px;
			    width: 100%;
			    margin: auto;
			    display: block;
			    cursor: pointer;
			}
			a, a:hover, a:focus {
				text-decoration: none;
				color: $marroon-dark2;
			    font-size: 15px;
			}
		}
		ul {
			width: 60%;
    		margin: auto;
    		li {
    			margin-top: 10px;
				border-bottom: 2px solid $marroon-dark;
				font-family: 'Exo', sans-serif;
				&:hover { background-image: radial-gradient($marroon-light2 50%,$marroon-dark2 100%); }
				a {
					color: $marroon-dark2;
				    font-size: 16px;
				    width: 100%;
				    display: block;
				    padding: 10px;
				    &:first-letter { text-transform:capitalize; }
				    &:hover { color: $color-text; }
				}
				.activePage {
					background-image: radial-gradient($marroon-light2 50%,$marroon-dark2 100%);
					color: $color-text;
				}
    		}
		}
	}
}