@import 'var.scss';

html, body, .app, .ap-app {
	height: 100%;
}

.ap-app {
	a {
		color: $color-text;
		text-decoration: none;
		cursor: pointer;
		&:hover, &:focus {
			color: $color-text;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	header {
		background-image: radial-gradient($marroon-light 30%,$marroon-dark 70%);
	    border-color: $marroon-dark;
	    padding: 10px;
	    position: absolute;
	    top: 0px;
	    width: 80%;
	    margin-left: 20%;
	}
	.sm-busy {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.25);
		display: flex;
    	align-items: center;
    	justify-content: center;
    	@keyframes busy-bars {
		    0% {
		        transform: scaleY(1) scaleX(1);
		        background-color: $color-text;
		    }
		    30% {
		        transform: scaleY(1.5) scaleX(1.1);
		        background-color: $color-text;
		    }
		    60% {
		        transform: scaleY(1) scaleX(1);
		        background-color: $color-text;
		    }
		    100% {
		        transform: scaleY(1) scaleX(1);
		        background-color: $color-text;
		    }
		}
    	.ap-busy-bar {
    		background: $color-text;
    	}
	}
	.sm-section {
		height: 100%;
		background-image: linear-gradient(-90deg, $marroon-light2, $marroon-dark2);
		margin-left: 20%;
		overflow: auto;
		.sm-container {
			width: 95% !important;
			margin-top: 50px;
		}
	}
	.sm-sheet {
		background-image: radial-gradient($marroon-light2 50%, $marroon-dark2 100%);
		border: 2px solid $color-text;
		width: 100%;
	    margin: 0 auto;
	    padding: 10px;
	    border-radius: 5px;
	}
	.sm-content {
		background-color: $marron;
		border-radius: 5px;
		padding: 25px;
	}
	.sm-label {
		color: $color-text;
	    font-family: $font;
	}
	.sm-input {
		width: 100%;
		display: block;
		background-color: rgba(46, 29, 16, 0.80); 
	    padding: 10px;
	    color: $color-text;
	    border-color: $color-text;
	}
	.sm-upload {
		.sm-upload-label {
			display: block;
		    padding: 10px;
		    background-color: rgba(46, 29, 16, 0.80);
		}
		input[type="file"] {
		    display: none !important;
		}
		.sm-upload-button {
			margin-top: 15px;
			margin-bottom: 5px;
			text-align: center;
		}
		.sm-home-text {
			color: $color-text;
		}
	}
	.sm-checkbox {
		margin-left: 10px;
		font-size: 20px;
	}
	.sm-button {
		padding: 10px 20px;
	    border-radius: 5px;
	    background-image: radial-gradient($marroon-light 50%, $marroon-dark 100%);
		border-color: $marroon-light;
	    color: white;
	    font-size: 18px;
	    font-family: $font;
	    &:hover {
	    	background-image: radial-gradient($marroon-light2 50%,$marroon-dark2 100%);
	    	color:	$color-text;
	    }
	}
	.sm-error {
		color: $color-text-error;
	}

	//CHANGE COLOR of PLACEHOLDER INPUT
	*::-webkit-input-placeholder {
	    color: $color-text;
	}
	*:-moz-placeholder {
	    /* FF 4-18 */
	    color: $color-text;
	}
	*::-moz-placeholder {
	    /* FF 19+ */
	    color: $color-text;
	}
	*:-ms-input-placeholder {
	    /* IE 10+ */
	    color: $color-text;
	}

	footer {
		background-image: linear-gradient(-90deg, $marroon-light2, $marroon-dark2);
		width: 80%;
	    margin-left: 20%;
	    position: absolute;
	    bottom: 0;
	    .sm-footer {
			background-color: rgba(46, 29, 16, 0.80);
			border-top: 2px solid $marroon-light;
			padding: 30px;
			.sm-copyright {
				text-align: center;
				color: $color-text;
				font-family: $font;
			}
		}
	}


	.sm-sidebar {
		background-image: radial-gradient($marroon-light 65%,$marroon-dark 100%);
		border-color: $marroon-dark;
		position: absolute;
		height: 100%;
		width: 20%;
		.sm-sidebar-logo-content { 
			text-align: center;
			.sm-sidebar-logo {
				width: 100%;
			    padding: 10px;
			    border-bottom: 2px solid $marroon-dark;
			    margin-bottom: 35px;
			    cursor: pointer;
			}
		}
		.sm-sidebar-profile {
			margin-bottom: 35px;
			text-align: center; 
			.sm-sidebar-profile-img {
				max-width: 130px;
			    width: 100%;
			    margin: auto;
			    display: block;
			    cursor: pointer;
			}
			a, a:hover, a:focus {
				text-decoration: none;
				color: $marroon-dark2;
			    font-size: 18px;
			}
		}
		ul {
			width: 60%;
    		margin: auto;
    		li {
    			margin-top: 10px;
				border-bottom: 2px solid $marroon-dark;
				font-family: 'Exo', sans-serif;
				&:hover {
					background-image: radial-gradient($marroon-light2 50%,$marroon-dark2 100%);
				}
				a {
					color: $marroon-dark2;
				    font-size: 18px;
				    width: 100%;
				    display: block;
				    padding: 10px;
				    &:first-letter {
					    text-transform:capitalize;
					}
				    &:hover {
				    	color: $color-text;
				    }
				}
				.activePage {
					background-image: radial-gradient($marroon-light2 50%,$marroon-dark2 100%);
					color: $color-text;
				}
    		}
    		.hidePage {
    			display: none;
    		}
		}
	}
}