@import './var.scss';

.ap-home {
	padding-top: 20px;
    .sm-home-text {
        color: $color-text;
        padding: 15px;
    }
    .sm-home-img {
        width: 100%;
        margin: 20px 0;
    }
}