@import './var.scss';

.ap-home {
	padding-top: 20px;
	height: 100%;
    @media screen and (min-width: $screen-sm) {
        height: 85%;
        width: 85%;
        margin: auto;
        padding-top: 5%;
    }
    .sm-home-text {
        color: $color-text;
        padding: 15px;
        text-align: center;
        font-family: $font;
    }
    .sm-home-img {
        width: 100%;
        margin: 20px 0;
    }
}