$marroon-light: #D2AD65;
$marroon-dark: #8F6630;

$marroon-light2: #48351F;
$marroon-dark2: #261D14;

$marron: #5F3F20;
$marron2: #5B3E34;

$yellow: #DFE46E;
$yellow-dark: #9C7300;

$black: rgba(46, 29, 16, 0.80);

$color-text: wheat;
$color-text-error: #DD3232;

$font : 'Exo', sans-serif;

$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
