@import '../../components/var.scss';

.sm-monster-infos {
    height: 100%;
    @media screen and (max-width: $screen-md) {
		padding-top: 40px;
	}
	@media screen and (min-width: $screen-md) {
		margin-left: 15%;
	}
	.sm-monster-content {
		background-color: $marron;
		border-radius: 5px;
		padding: 5px;
		height: 20%;
		position: relative;
		@media screen and (max-width: $screen-md) {
			height: 30%;
		}
		.sm-monster-stars {
	        height: 23%;
	        @media screen and (min-width: $screen-xlg) {
				width: 32%; 
			}
	        .sm-monsterstars {
	            height: 100%;
	            .sm-monsterstar {
	                height: 100%;
	                max-width: 9px;
	                @media screen and (min-width: $screen-xlg) {
						max-width: 13px; 
					}
	                .sm-monsterstar-image {
	                    height: 100%
	                }
	            }
	        }
	    }
		.sm-monster-info {
			padding: 5px 10px;
			.sm-monster-element { 
				@media screen and (max-width: $screen-xs) {
					width: 10%;
				}
		    	@media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
					width: 5%;
				}
		    	@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
					width: 4%;
				}
		    	@media screen and (min-width: $screen-md) and (max-width: $screen-lg){
					width: 10%; 
				}
				@media screen and (min-width: $screen-lg) {
					width: 8%; 
				}
			}
			.sm-monster-name {
				font-size: 18px;
				color: white;
				font-family: $font;
				display: inline-block;
				margin: 0 10px;
				text-shadow: 
	            	2px 2px 3px black,
	            	2px -2px 3px black,
	            	-2px -2px 3px black,
	            	-2px 2px 3px black;
			}
			.sm-monster-xp {
				color: white;
				font-size: 18px;
				display: inline-block;
			}
			.sm-monster-progressbar {
				background-color: $black !important;
				margin-bottom: 0px;
				.sm-monster-Water {
					background-color: #1256A3 !important;
				}
				.sm-monster-Fire {
					background-color: $color-text-error !important;
				}
				.sm-monster-Wind {
					background-color: $yellow-dark !important;
				}
				.sm-monster-Light {
					background-color: $color-text !important;
					color: $black;
				}
				.sm-monster-Dark {
					background-color: #721669 !important;
				}
			}
		}
	}
	.sm-monster-infos-button {
		text-align: center;
		margin-top: 10px;
		position: relative;
		.sm-button {
			padding: 5px 10px !important;
		}
	    i {
	    	color: $color-text;
	    	border-radius: 100%;
	    	cursor: pointer; 
	    	display: inline-block !important;
	    	margin-left: 20px;
	    }
	    .sm-monster-lock-infos {
	    	display:none;
		    padding: 10px;
	    	margin-bottom: 10px;
	    	color: $color-text;
	    	z-index: 50;
	    	background-color: $marroon-dark2;
	    	border: 1px solid $color-text;
	    	position: absolute;
    	    top: -65px;
    		left: 60px;
	    	text-align: left;
	    }
	    i:hover + .sm-monster-lock-infos {
	    	display: block;
	    }
	}
	.sm-monster-stats {
		background-color: $black;
	    height: calc(80% - 20px);
	    margin-top: 15px;
	    border-radius: 5px;
        padding: 10px;
    	padding-left: 10%;
	    @media screen and (max-width: $screen-md) {
			height: calc(70% - 20px);
			padding: 15px;
		}
	    .sm-monster-keys {
	    	li {
	    		color: $yellow;
				font-size: 17px;
				text-shadow: 
	            	2px 2px 3px black,
	            	2px -2px 3px black,
	            	-2px -2px 3px black,
	            	-2px 2px 3px black;
	            @media screen and (max-width: $screen-xs){
					font-size: 13px; 
				}
	            @media screen and (min-width: $screen-xs) and (max-width: $screen-md){
					font-size: 13px; 
				}
				@media screen and (min-width: $screen-md) and (max-width: $screen-lg){
					font-size: 14px; 
				}
	    	}
	    }
	    .sm-monster-values {
	    	li {
	    		color:	white;
				font-size: 17px;
				text-shadow: 
	            	2px 2px 3px black,
	            	2px -2px 3px black,
	            	-2px -2px 3px black,
	            	-2px 2px 3px black;
				span { color: green; }
				@media screen and (max-width: $screen-xs){
					font-size: 13px; 
				}
	            @media screen and (min-width: $screen-xs) and (max-width: $screen-md){
					font-size: 13px; 
				}
				@media screen and (min-width: $screen-md) and (max-width: $screen-lg){
					font-size: 14px; 
				}
	    	}
	    }
	    .sm-monster-separator { padding: 15px; }
	}
}