@import '../var.scss';

.sm-builds {
	height: 100%;
	padding-top: 20px;
	position: relative;
    @media screen and (min-width: $screen-sm) {
	    height: 95%;
	    width: 90%;
	    margin: auto;
    }
	.sm-builds-profil {
		
		@media screen and (max-width: $screen-xs) {
		    height: 100%;
	    }
	    @media screen and (min-width: $screen-xs) and (max-width: $screen-sm){
		    height: 100%;
	    }
	    @media screen and (min-width: $screen-sm) and (max-width: $screen-md){
		    height: 58%;
	    }
		@media screen and (min-width: $screen-md) {
		    height: 65%;
	    }
	}
}