@import '../var.scss';

.sm-builds {
	height: 100%;
	padding-top: 20px;
	position: relative;
    @media screen and (min-width: $screen-md) {
	    height: 90%;
	    width: 90%;
	    margin: auto;
	    margin-top: 1%;
    }
	.sm-builds-height {
		height: 100%;
		@media screen and (min-width: $screen-md) and (max-width: $screen-xlg) {
			height: 80%;
		}
		@media screen and (min-width: $screen-xlg) {
	        height: calc(90% - 40px);	
	    }
	}
	.sm-builds-lists {
	    height: 10%;
	    @media screen and (min-width: $screen-md) {
	        margin-bottom: 20px;
	        height: 15%;
	    }
	}
	.sm-builds-profil {
		height: 85%;
	}
}