@import '../var.scss';

.ap-import {
	.sm-import-title {
		color: $color-text;
		font-size: 25px;
		text-align: center;
	}
	.sm-import-text {
		text-align: center;
		color: $color-text;
		font-size: 16px;
		font-family: $font;
		a {
			margin-left: 10px;
			font-size: 12px;
		}
	}
	.sm-sheet-mid {
		margin-top: 25px;
	}
	.sm-import-img-content {
		text-align: center;
		.sm-import-img {
			width: 100%;
		    margin: auto;
		    margin-top: 25px;
		    height: 375px;
		    object-fit: cover;
		}
	}
	.sm-import-error {
		text-align: center;
		padding: 10px;
	}
}