@import '../../components/var.scss';

.sm-monsterslist {
	height: calc(100% - 20px);
    .sm-monster-filters-elements {
		text-align: center;
		padding: 10px;
		.sm-monster-filters-element {
		    display: inline-block;
		    margin: 0 2%;
		    padding: 5px;
		    border-radius: 1000px;
		    cursor: pointer;
			img { width: 25px; }
			&:hover { background-color: $color-text;}
		}
		.sm-monster-filters-element-active { background-color: $color-text;}
	}

	.sm-monster-list {
		white-space: nowrap;
		overflow-x: scroll; 
		overflow-y: hidden;
		@media screen and (min-width: $screen-sm) {
			overflow: auto;
			height: 70%;
			margin-top: 20px;
			white-space: normal;
		}
		.sm-monsters-busy {
        	display: inline-block;
        	@media screen and (min-width: $screen-sm) {
            	margin: 25px;
            	display: initial;
            }

        }
	}

	.sm-monster-filters {
		padding: 5px;
		margin: 20px 0 !important;
		ul {
			text-align: center;
			display: inline-block;
			margin: auto;
	    	width: 100%;
	    	.sm-li-search-input {
			    width: 50%;
			    padding: 5px;
			    @media screen and (min-width: $screen-sm) {
			        margin-right: 20px;
			    }
	    		
	    	}
			.sm-search-input {
	            width: calc(100% - 10px); 
	            color: $color-text;   
	        }
			li {
				display: inline-block;
				padding: 10px;
			}
		}
	}
}