@import '../../components/var.scss';

.sm-builds-infos {
	padding: 10px;
	text-align: center;
	@media screen and (max-width: $screen-xs) {
		margin-top: 25%;
	}
	@media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
		margin-top: 14%;
	}
	@media screen and (min-width: $screen-sm) {
		margin-top: 20px;
	}
	ul {
		margin-bottom: 10px;
		li {
			text-align: left;
			margin: 3%;
			@media screen and (min-width: $screen-sm) {
				display: inline-block;
				margin: 0 5px;
			}
			input {
				padding: 5px !important;
			}
			button {
				padding: 5px 10px !important;
			}

		}
		.sm-mini-li {
			@media screen and (min-width: $screen-sm) {
				width: 12%;
			}
		}
		.sm-button-mobile {
			@media screen and (max-width: $screen-sm) {
				display: inline-block;
			}
		}
	}
	.sm-builds-infos-delete {
		background-image: radial-gradient(#DD4333 50%, #ee1010 100%);
		&:hover { color: white; }
	}
}