@import '../../components/var.scss';

.sm-monster {
	position: relative;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: inline-block;
    
	.sm-monster-image {
		position: absolute;
        top: 0;
        left: 0;
		border: 3px solid $yellow-dark;
		border-radius: 5px;
		width: 100px;
	}
    .sm-monster-stars {
        height: 32%;
        position: absolute;
        top: 2px;
        left: 2px;
        .sm-monsterstars {
            height: 100%;
            .sm-monsterstar {
                height: 100%;
                max-width: 13px;
                .sm-monsterstar-image {
                    height: 100%;
                }
            }
        }
    }
	.sm-monster-lvl {
		position: absolute;
		bottom: 0;
		right: 8px;
	    color: white;
	    font-size: 18px;
        text-shadow: 1px 1px 3px black;
	}

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.25);
    }

    &:hover::after { background: rgba(0,0,0,0.10); }

	&.sm-monster-active {
		.sm-monster-image { border: 3px solid $yellow; }
        &::after { background: transparent; }
	}
}