@import '../../components/var.scss';

.sm-build-results {
	padding: 15px;
	overflow: auto;
    height: calc(100% - 20px);
    hr {
    	border-color: $color-text;
    }
    .sm-content {
    	overflow: auto;
    }
	.sm-build-result {
		.sm-label {
			cursor: pointer;
		}
		.sm-build-team-result {
			padding-left: 10px;
			white-space: nowrap;
	    	.sm-build-team-result-first {
	    		background: $black;
			    display: inline-block;
			    padding: 15px;
			    width: 55px;
			    margin-right: 2%;
			    color: $color-text;
			    text-shadow: 
	            	2px 2px 3px black,
	            	2px -2px 3px black,
	            	-2px -2px 3px black,
	            	-2px 2px 3px black;
		        float: left;
    			margin-top: 40px;
    			text-align: center;
	    	}
			.sm-build-monster-result {
			    background: $black;
			    display: inline-block;
			    padding: 5px;
			    width: 130px;
			    margin-right: 2%;
			    .sm-rune {
			    	text-align: left !important;
			    	.sm-rune-set {
			    		width: 24% !important;
			    	}
			    	.sm-monsterstar-image {
			    		width: 20px !important;
			    	}
			    }
			    .sm-build-monster-result-left {
			    	padding: 5px;
			    	.sm-monster-image {
			    	    width: 90%;
					    display: block;
				    }
				    .sm-build-monster-result-runes {
				    	margin-top: 10px;
				    	white-space: normal;
				    	img { 
				    		width: 30%;
				    		cursor: pointer;
				    		display: inline-block !important;
				    		&:hover {
					    		width: 40%;
					    	}
				    	}
    				    .sm-build-monster-result-rune1 {
				    		display: none;
			    		    position: absolute;
						    z-index: 50;
						    top: -25%;
						    left: 100%;
						    background: $black;
					        padding: 10px;
							border-radius: 10%;
				    	}
				    	.sm-rune1:hover + .sm-build-monster-result-rune1 {
				    		display: block;
				    	}
				    	.sm-build-monster-result-rune2 {
				    		display: none;
			    		    position: absolute;
						    z-index: 50;
						    top: -25%;
						    left: 100%;
						    background: $black;
						    padding: 10px;
							border-radius: 10%;
				    	}
				    	.sm-rune2:hover + .sm-build-monster-result-rune2 {
				    		display: block;
				    	}
				    	.sm-build-monster-result-rune3 {
				    		display: none;
			    		    position: absolute;
						    z-index: 50;
						    top: -25%;
						    left: 100%;
						    background: $black;
						    padding: 10px;
							border-radius: 10%;
				    	}
				    	.sm-rune3:hover + .sm-build-monster-result-rune3 {
				    		display: block;
				    	}
				    	.sm-build-monster-result-rune4 {
				    		display: none;
			    		    position: absolute;
						    z-index: 50;
						    top: -25%;
						    left: 100%;
						    background: $black;
						    padding: 10px;
							border-radius: 10%;
				    	}
				    	.sm-rune4:hover + .sm-build-monster-result-rune4 {
				    		display: block;
				    	}
				    	.sm-build-monster-result-rune5 {
				    		display: none;
			    		    position: absolute;
						    z-index: 50;
						    top: -25%;
						    left: 100%;
						    background: $black;
						    padding: 10px;
							border-radius: 10%;
				    	}
				    	.sm-rune5:hover + .sm-build-monster-result-rune5 {
				    		display: block;
				    	}
				    	.sm-build-monster-result-rune6 {
				    		display: none;
			    		    position: absolute;
						    z-index: 50;
						    top: -25%;
						    left: 100%;
						    background: $black;
						    padding: 10px;
							border-radius: 10%;
				    	}
				    	.sm-rune6:hover + .sm-build-monster-result-rune6 {
				    		display: block;
				    	}
				    }
			    }
			    .sm-build-monster-result-right {
			    	padding: 0;
			    	ul {
				    	li {
				    		color: $yellow;
				    		font-size: 10px;
				    		text-shadow: 
				            	2px 2px 3px black,
				            	2px -2px 3px black,
				            	-2px -2px 3px black,
				            	-2px 2px 3px black;
				    		span { 
				    			color: white;
				    			text-shadow: 
					            	2px 2px 3px black,
					            	2px -2px 3px black,
					            	-2px -2px 3px black,
					            	-2px 2px 3px black;
				    		 }
				    	}
				    }
			    }
			}
		}
	}
}