@import '../../components/var.scss';

.sm-build-content {
	padding: 5px 10px !important;
}
.sm-build-buildmonsterconfig {
	display: inline-block;
    overflow: auto;
    margin-right: 20px;
    height: calc(100% - 20px);
    max-height: 330px;
    width: 100%;
	@media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
		width: 70%;
		max-height: 330px;
	}
	@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
		width: 44%;
		max-height: 330px;
	}
	@media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
		width: 50%;
		max-height: initial;
	}
	@media screen and (min-width: $screen-lg) and (max-width: $screen-xlg) {
		width: 55%;
	}
	@media screen and (min-width: $screen-xlg) {
		width: 40%;
	}
    hr {
    	border-color: $color-text;
    }
    .sm-build-buildmonsterconfig-delete {
    	color: $color-text-error;
	    top: 0;
		left: 94%;
    	font-size: 25px;
    	cursor: pointer;
    }
    .sm-builds-monster-name {
    	img {
	    	height: 60px;
		    width: 60px;
		    display: inline-block;
	    }
	    input {
    	    display: inline-block;
			width: 69%;
			margin-left: 5%;
	    }
    }
    .sm-builds-monster-stats {
    	margin-top: 20px;
    	label {
    		display: block;
    		cursor: pointer;
    	}
    	.sm-builds-monster-stats-box {
    		input {
	    		display: inline-block;
				width: 50%;
				margin-left: 2%;
	    	}
	    	button {
	    		display: inline-block;
			    height: 43px;
			    width: 16%;
			    margin-left: 2%;
			    padding: 0;
	    	}
	    	.sm-builds-brokenset {
	    		display: inline-block;
	    		margin-left: 15px;
	    	}
	    	.sm-builds-select {
	    		display: inline-block;
	    		width: 30%;
	    		height: 43px;
	    	}
	    	.sm-stats-content {
	    		background-color: rgba(46, 29, 16, 0.80);
	    		padding: 15px;
	    		margin-top: 10px;
	    		color: $color-text;
	    		li {
	    			padding: 10px;
	    			i {
	    				color: $color-text-error;
	    				margin-left: 2%;
	    				cursor: pointer;
	    			}
	    		}
	    	}
    	}
    }
}