@import '../../components/var.scss';

.sm-build-content {
	padding: 5px 10px !important;
}
.sm-build-buildmonsterconfig-expanded {
	@media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
		width: 40% !important;
	}
	@media screen and (min-width: $screen-lg) {
		width: 35% !important;
	}
}
.sm-build-buildmonsterconfig {
	display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 20px;
    height: calc(100% - 20px);
    width: 100%;
    position: relative;
	@media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
		width: 60%;
	}
	@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
		width: 50%;
	}
	@media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
		width: 45%;
	}
	@media screen and (min-width: $screen-lg) and (max-width: $screen-xlg) {
		width: 35%;
	}
	@media screen and (min-width: $screen-xlg) {
		width: 30%;
	}
    hr {
    	border-color: $color-text;
    }
    .sm-build-buildmonsterconfig-delete {
    	color: $color-text-error;
	    top: 0;
	    left: 96%;
	    font-size: 15px;
	    cursor: pointer;
    }
    .sm-monsterconfig-infos {
    	color: $color-text;
    	border-radius: 100%;
    	cursor: pointer; 
    	display: inline-block !important;
    }
    .sm-monsterconfig-infos-content {
    	display: none;
    	width: 80%;
    	margin: auto;
    	background-color: $marroon-dark2;
    	border: 1px solid $color-text;
	    padding: 10px;
    	margin-bottom: 10px;
    	color: $color-text;
	    position: absolute;
	    top: 0;
	    right: 15px;
	    z-index: 50;
    }
    .sm-monsterconfig-infos:hover + .sm-monsterconfig-infos-content {
    	display: block;
    }
    .sm-order-attack {
        position: absolute;
        display: inline-block;
	    top: 8px;
	    left: 45%;
	    width: 30%;
    	input {
    		width: 50%;
    		padding: 5px;
    		display: inline-block;
    		border-radius: 100%;
    		text-align: center;
    	}
    	i { margin-left: 5px; }
    	.sm-monsterconfig-infos-content {
    		top: 25px;
    		width: 200%;
    	}
    }
    .sm-builds-monster-name {
    	margin-top: 20px;
    	img {
	    	height: 60px;
		    width: 60px;
		    display: inline-block;
	    }
	    .sm-list-monsters {
	    	display: inline-block;
			width: 69%;
			margin-left: 5%;
	    }
	    .sm-list-monster-input {
		    position: absolute;
		    background: $black;
		    padding: 10px;
		    width: 64%;
		    z-index: 50;
		    height: 180px;
		    overflow: scroll;
		    overflow-x: hidden;
		    .sm-list-monster {
		    	margin-bottom: 10px;
		    	cursor: pointer;
		    	color: $color-text;
		    	padding: 5px;
		    	img {
		    		width: 35px !important;
		    		height: 35px !important;
		    	}
		    	&:hover {
		    		background-color: $color-text;
		    		color: $marroon-dark2;
		    	}
		    	span {
			    	margin-left: 10px;
			    }
		    }
	    }
    }
    .sm-builds-monster-stats {
    	margin-top: 20px;
    	position: relative;
    	label {
    		display: inline-block;
    		cursor: pointer;
    		width: 95%;
    	}
    	.center {
    		text-align: center;
    	}
    	.sm-builds-monster-stats-box {
    		input {
	    		display: inline-block;
				width: 50%;
				margin-left: 2%;
	    	}
	    	.sm-range {
	    		display: inline-block !important;
	    		position: relative;
	    	}
		    .sm-range-infos {
		    	display: none;
		    	margin: auto;
		    	background-color: $marroon-dark2;
		    	border: 1px solid $color-text;
			    padding: 10px;
		    	margin-bottom: 10px;
		    	color: $color-text;
			    position: absolute;
			    top: -5px;
    			left: 55%;
			    z-index: 50;
		    }
		    .sm-range:hover + .sm-range-infos {
		    	display: block;
		    }
    		.sm-checkbox {
    			width: inherit !important;
    		}
	    	button {
	    		display: inline-block;
			    height: initial;
			    margin-left: 2%;
			    padding: 5px;
			    font-size: 12px;
	    	}
	    	.sm-builds-brokenset {
	    		display: inline-block;
	    		margin-left: 15px;
	    		width: inherit;
	    	}
	    	.sm-builds-select {
	    		display: inline-block;
	    		width: 30%;
	    		height: 43px;
	    	}
	    	.sm-stats-content {
	    		background-color: rgba(46, 29, 16, 0.80);
	    		padding: 15px;
	    		margin-top: 10px;
	    		color: $color-text;
	    		li {
	    			padding: 10px;
	    			i {
	    				color: $color-text-error;
	    				margin-left: 2%;
	    				cursor: pointer;
	    			}
	    		}
	    	}
	    	.sm-input-rune {
	    		display: inline-block;
	    		margin: 0 2px;
	    	}
    	}
    }
    input[type=range] {
	  -webkit-appearance: none;
	  width: 100%;
	  margin: 10.5px 0;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 5px;
	  cursor: pointer;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  background: rgba(245, 222, 179, 0.78);
	  border-radius: 1.3px;
	  border: 0.2px solid #000000;
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
	  border: 1.8px solid #f5deb3;
	  height: 26px;
	  width: 26px;
	  border-radius: 15px;
	  background: #2e1d10;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -10.7px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: rgba(248, 232, 202, 0.78);
	}
	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 5px;
	  cursor: pointer;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  background: rgba(245, 222, 179, 0.78);
	  border-radius: 1.3px;
	  border: 0.2px solid #000000;
	}
	input[type=range]::-moz-range-thumb {
	  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
	  border: 1.8px solid #f5deb3;
	  height: 26px;
	  width: 26px;
	  border-radius: 15px;
	  background: #2e1d10;
	  cursor: pointer;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 5px;
	  cursor: pointer;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: rgba(242, 212, 156, 0.78);
	  border: 0.2px solid #000000;
	  border-radius: 2.6px;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	}
	input[type=range]::-ms-fill-upper {
	  background: rgba(245, 222, 179, 0.78);
	  border: 0.2px solid #000000;
	  border-radius: 2.6px;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	}
	input[type=range]::-ms-thumb {
	  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
	  border: 1.8px solid #f5deb3;
	  height: 26px;
	  width: 26px;
	  border-radius: 15px;
	  background: #2e1d10;
	  cursor: pointer;
	  height: 5px;
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: rgba(245, 222, 179, 0.78);
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: rgba(248, 232, 202, 0.78);
	}

}