@import '../../components/var.scss';

.sm-build-content {
	padding: 5px 10px !important;
}
.sm-build-buildmonsterconfig {
	display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 20px;
    height: calc(100% - 20px);
    width: 100%;
	@media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
		width: 70%;
	}
	@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
		width: 44%;
	}
	@media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
		width: 60%;
	}
	@media screen and (min-width: $screen-lg) and (max-width: $screen-xlg) {
		width: 55%;
	}
	@media screen and (min-width: $screen-xlg) {
		width: 50%;
	}
    hr {
    	border-color: $color-text;
    }
    .sm-build-buildmonsterconfig-delete {
    	color: $color-text-error;
	    top: 0;
	    left: 96%;
	    font-size: 15px;
	    cursor: pointer;
    }
    .sm-monsterconfig-infos {
    	color: $color-text;
    	border-radius: 100%;
    	cursor: pointer; 
    	display: inline-block !important;
    }
    .sm-monsterconfig-infos-content {
    	display: none;
    	width: 80%;
    	margin: auto;
    	background-color: #261D14;
    	border: 1px solid $color-text;
	    padding: 10px;
    	margin-bottom: 10px;
    	color: $color-text;
	    position: absolute;
	    top: 0;
	    right: 15px;
	    z-index: 50;
    }
    .sm-monsterconfig-infos:hover + .sm-monsterconfig-infos-content {
    	display: block;
    }
    .sm-builds-monster-name {
    	img {
	    	height: 60px;
		    width: 60px;
		    display: inline-block;
	    }
	    input {
    	    display: inline-block;
			width: 69%;
			margin-left: 5%;
	    }
    }
    .sm-builds-monster-stats {
    	margin-top: 20px;
    	position: relative;
    	label {
    		display: inline-block;
    		cursor: pointer;
    		width: 95%;
    	}
    	.sm-builds-monster-stats-box {
    		input {
	    		display: inline-block;
				width: 50%;
				margin-left: 2%;
	    	}
    		.sm-checkbox {
    			width: inherit !important;
    		}
	    	button {
	    		display: inline-block;
			    height: 43px;
			    width: 16%;
			    margin-left: 2%;
			    padding: 0;
	    	}
	    	.sm-builds-brokenset {
	    		display: inline-block;
	    		margin-left: 15px;
	    		width: inherit;
	    	}
	    	.sm-builds-select {
	    		display: inline-block;
	    		width: 30%;
	    		height: 43px;
	    	}
	    	.sm-stats-content {
	    		background-color: rgba(46, 29, 16, 0.80);
	    		padding: 15px;
	    		margin-top: 10px;
	    		color: $color-text;
	    		li {
	    			padding: 10px;
	    			i {
	    				color: $color-text-error;
	    				margin-left: 2%;
	    				cursor: pointer;
	    			}
	    		}
	    	}
    	}
    }
}