@import '../var.scss';

.sm-monsters {
	padding-top: 20px;
	height: 100%;
    @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
	    height: 90%;
	    width: 95%;
	    margin: auto;
	    margin-top: 4%;
    }
	@media screen and (min-width: $screen-lg) and (max-width: $screen-xlg) {
	    height: 90%;
	    width: 95%;
	    margin: auto;
	    margin-top: 3%;
    }
    @media screen and (min-width: $screen-xlg) {
        height: 85%;
        width: 90%;
        margin: auto;
        margin-top: 2%;
    }
}