@import '../var.scss';

.ap-monsters {
	.sm-monster-filters-element {
		text-align: center;
		.sm-monster-filter-element {
			width: 35px;
			margin: 0 4%;
			cursor: pointer;
		}
	}

	.sm-monster-list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		overflow: auto;
		height: 315px;
		margin-top: 20px;
		.sm-monster {
			margin-bottom: 5px;
		    align-self: auto;
		    margin-right: 5px; 
		    width: 100px;
		    height: 100px;
		    cursor: pointer;
		}
		.sm-monster-active {
			border: 3px solid $yellow-dark;
		}
		.sm-monster-image {
			border-radius: 5px;
			width: 100px;
		}
		.sm-monster-star {
			font-size: 13px;
		    color: $yellow;
		    top: -100px !important;
		}
		.sm-monster-lvl {
			position: relative;
		    bottom: 25px;
    		left: -5px;
			color: white;
			font-size: 18px;
		}
	}

	.sm-monster-tab {
		background-color: $marron2;
		color: $color-text;
	    text-align: center;
	    display: inline-block;
	    position: absolute;
        left: -60px;
    	top: 130px;
	    padding: 20px;
	    border-radius: 10px;
	    width: 150px;
	    font-size: 20px;
	    cursor: pointer;
	    &:hover {
	    	color: $yellow;
			background-color: $yellow-dark;
	    }
	}
	.sm-monster-tab-active {
		color: $yellow;
		background-color: $yellow-dark;
	}
	.sm-monster-mid {
		top: 210px;
	}


	.sm-monster-infos {
		.sm-monster-content {
			background-color: $marron;
			width: 75%;
			margin-left: 20%;
			margin-top: 15px;
			border-radius: 5px;
			padding: 5px;
			.sm-monster-info {
				padding: 5px 10px;
				.sm-monster-element {
					width: 9%;
				}
				.sm-monster-name {
					font-size: 16px;
					color: white;
					font-family: $font;
					display: inline-block;
					margin: 0 10px;
				}
				.sm-monster-star {
					font-size: 13px;
		   	 		color: $yellow;
				}
				.sm-monster-xp {
					color: white;
					font-size: 18px;
					display: inline-block;
				}
				.sm-monster-progressbar {
					background-color: rgba(46, 29, 16, 0.80) !important;
					margin-bottom: 0px;
					.sm-monster-progressbar-value {
						width: 60% !important;
					}
				}
			}
		}
		.sm-monster-stats {
			background-color: rgba(46, 29, 16, 0.80);
			width: 75%;
		    height: 270px;
		    margin-left: 20%;
		    margin-top: 15px;
		    overflow:auto;
		    border-radius: 5px;
		    padding: 10px;
		    .sm-monster-keys {
		    	li {
		    		color: $yellow;
					font-size: 17px;
		    	}
		    }
		    .sm-monster-values {
		    	li {
		    		color:	white;
					font-size: 17px;
		    	}
	    		.sm-monster-extra {
					color: green;
				}
		    }
		    .sm-monster-separator {
	    		padding: 15px;
	    	}
		}
	}
	.sm-monster-filters-top {
		margin-top: 10px;
	}
	.sm-monster-filters {
		text-align: center;
		li {
			display: inline-block;
			padding: 10px;
		}
	}
}