@import '../../components/var.scss';

.sm-builds-list {
	padding: 5px;
	height: 100%;
	margin-bottom: 20px;

    .sm-build-refresh {
        color: $color-text;
	    top: 10px;
	    cursor: pointer;
	    left: 7px;
	    position: absolute;
	    display: inline-block !important;
    }
    .sm-build-refresh-infos {
    	display:none;
	    padding: 10px;
    	margin-bottom: 10px;
    	color: $color-text;
    	z-index: 50;
    	background-color: $marroon-dark2;
    	border: 1px solid $color-text;
    	position: absolute;
	    top: 5px;
		left: 25px;
    	text-align: left;
    }
    .sm-build-refresh:hover + .sm-build-refresh-infos {
    	display: block;
    }
	ul {
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		padding-left: 30px;
		.sm-builds-add {
			text-align: center;
			display: block;
			cursor: pointer;
			display: inline-block;
			float: left;
			i {
				font-size: 20px;
	    		color: $color-text;
	    		display: block;
			}
			span {
				display: inherit;
				color: $color-text;
			}
	    }
		.sm-builds-list-li {
			cursor: pointer;
			text-align: center;
			display: inline-block;
			margin: 0 1%;
			float: left;
		    i {
		    	top: -39px;
			    right: -40%;
			    color: $color-text-error;
			    cursor: pointer;
			    font-size: 12px;
		    }
			.sm-build {
				border: 1px solid $color-text;
				font-size: 12px;
				&:hover {
					border: 1px solid $color-text !important;
				}
			}
			.sm-build-active {
				background-image: radial-gradient($marroon-light2 40%, $marroon-dark2 70%);
				span {
					background-image: radial-gradient($marroon-light 50%, $marroon-dark 100%);
					color: white;
				}
				i {
					color: $color-text;
				}
			}
		}
	}
}