@import '../../components/var.scss';

.sm-rune {
	width: 120px;
	height: 120px;
	background-image: radial-gradient($marroon-light 50%, $marroon-dark 100%);
	border-color: $marroon-light;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	margin:2px 4px;
	.sm-rune-stats {
	    position: absolute;
	    top: 68px;
	    left: 1px;
	    padding: 3px;
	    width: 98%;
	    z-index: 10;
	    background-color: rgba(46, 29, 16, 0.8);
	    border-radius: 10px;
		.sm-rune-stat {
			display: inline-block;
			li {
				color: $yellow;
				font-size: 10px;
				font-weight: bold;
				span {
					color: white;
				}
			}
		}
		.sm-rune-stat2 { 
			padding-left: 2px; 
		}
	}
	.sm-rune-star {
		position: absolute;
		left: 19px;
		span {
			z-index: 10;
		}
	}
	.sm-rune-lvl {
		color: white;
	    position: relative;
        top: 50px;
		left: 90px;
	    font-size: 12px;
	}
	.sm-rune-pos {
		color: white;
	    position: relative;
        top: 50px;
		left: 5px;
	    font-size: 12px;
	}
	.sm-rune-set {
        width: 40px;
	    position: absolute;
	    top: 19px;
	    left: 40px;
	    padding: 10px;
	    border-radius: 100px;
	    z-index: 5;
	    background-color: rgba(46, 29, 16, 0.8);
	}
	
}