@import '../../components/var.scss';

.sm-rune {
	width: 95px;
	height: 160px;
	background-image: radial-gradient($marroon-light 50%, $marroon-dark 100%);
	border-color: $marroon-light;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	margin:4px;
	.sm-rune-stats {
	    position: absolute;
	    padding: 5% 10%;
	    width: 96%;
	    height: 70%;
	    margin: 21% 2%;
	    z-index: 10;
	    background-color: rgba(46, 29, 16, 0.8);
	    border-radius: 10px;
		.sm-rune-stat {
			display: inline-block;
			.sm-rune-main-stat {
				color: orange;
			}
			.sm-rune-sub-stat {
				color: dodgerblue;
			}
			li {
				color: $yellow;
				font-size: 12px;
				font-weight: bold;
				text-shadow: 
	            2px 2px 3px black,
	            2px -2px 3px black,
	            -2px -2px 3px black,
	            -2px 2px 3px black;
				span {color: white;}
			}
		}
		.sm-rune-stat2 { padding-left: 2px; }
	}
	.sm-monster-stars {
	    height: 14%;
	    position: absolute;
	    top: 0px;
	    left: 14px;
        .sm-monsterstars {
            height: 100%;
            .sm-monsterstar {
                height: 100%;
                max-width: 9px;
                .sm-monsterstar-image {
                    height: 100%;
                }
            }
        }
    }
	.sm-rune-lvl {
	    color: white;
	    position: relative;
	    top: 135px;
	    left: 65px;
	    font-size: 12px;
	    text-shadow: 
            2px 2px 3px black,
            2px -2px 3px black,
            -2px -2px 3px black,
            -2px 2px 3px black;
	}
	.sm-rune-pos {
		color: white;
	    position: relative;
        top: 135px;
		left: 10px;
	    font-size: 12px;
	    text-shadow: 
            2px 2px 3px black,
            2px -2px 3px black,
            -2px -2px 3px black,
            -2px 2px 3px black;
	}
	.sm-rune-set {
	    width: 24px;
	    position: absolute;
	    top: 133px;
	    left: 35px;
	    padding: 5px;
	    border-radius: 100px;
	    z-index: 5;
	    background-color: $black;
	}
	
}