@import '../../components/var.scss';

.sm-register {
	margin-bottom: 20px !important;
	padding: 15px 0;
	.sm-register-title {
		color: $color-text;
		text-align: center;
		padding: 10px;
		margin: 0;
		margin-bottom: 10px;
	}
	.sm-content {
	    width: 95%;
    	margin: auto;
	}
	.sm-register-label-mid { margin-top: 15px; }
    .sm-register-message { color: $color-text; }
    .sm-register-error {
        color: $color-text;
        padding: 10px;
    }
	.sm-register-button {
		text-align: center;
		margin: 5px 0;
	}
	.sm-register-login {
		text-align: center;
		margin-top: 15px;
	    display: block;
	}
}