@import '../../components/var.scss';

.sm-builds-monsters {
	padding: 25px;
	overflow: auto;
	overflow-y: hidden;
	height: 405px;
	white-space:nowrap;
	.sm-builds-monster-add1 {
		display: inline-block;
		.sm-builds-monster-add {
		    margin-right: 20px;
		    font-size: 120px;
    		color: $color-text;
    		cursor: pointer;
	    }
	}
}