@import '../../components/var.scss';

.sm-builds-monsters {
	padding: 15px;
	height: 100%;
	.sm-builds-monsters-scroll {
		overflow: auto;
		overflow-y: hidden;
		height: 100%;
		white-space:nowrap;
		.sm-builds-monster-add1 {
			display: inline-block;
			cursor: pointer;
			text-align: center;
			i {
			    font-size: 25px;
	    		color: $color-text;
		    }
		    span {
		    	display: block;
		    	color: $color-text;
		    }
		}
		.sm-builds-monster-empty {
			top: 0;
		}
	}
}