@import '../var.scss';

.ap-runes {
	.sm-runes-lists {
		overflow: auto;
		height: 400px;
		.sm-runes-list {
			.sm-runes-list-title {
				padding: 15px;
				color: $color-text;
				text-align: center;
			}
			.sm-runes {
				display: flex;
			    flex-wrap: nowrap;
			    align-items: flex-start;
			    overflow: auto;
			    .sm-rune {
					margin-bottom: 5px;
				    align-self: auto;
				    margin-right: 5px; 
				    width: 100px;
				    height: 100px;
				    cursor: pointer;
				    .sm-rune-image {
						border-radius: 5px;
						width: 100px;
					}
				}
				.sm-rune-active {
					border: 3px solid $yellow-dark;
				}
			}
		}
	}

	.sm-runes-filters {
		margin-right: 15px; 
		display: inline-block;
		li {
			padding: 10px;
			label {
				width: 40px;
			}
		}
	}

	.sm-runes-types {
		display: flex;
	    flex-wrap: nowrap;
	    align-items: flex-start;
	    overflow: auto;
	    .sm-rune-type {
			margin-bottom: 5px;
		    align-self: auto;
		    margin-right: 5px; 
		    width: 60px;
		    height: 60px;
		    cursor: pointer;
		    .sm-rune-type-image {
				border-radius: 5px;
				width: 100%;
			}
		}
	}
}