@import '../var.scss';

.ap-runes {
	.sm-runes-lists {
		overflow: auto;
		height: 400px;
		.sm-runes-list {
			.sm-runes-list-title {
				padding: 15px;
				color: $color-text;
				text-align: center;
			}
			.sm-runes {
				display: flex;
			    flex-wrap: nowrap;
			    align-items: flex-start;
			    overflow: auto;
				.sm-rune-active {
					border: 3px solid $yellow-dark;
				}
			}
		}
	}

	.sm-runes-filters {
		margin-right: 15px; 
		display: inline-block;
		li {
			padding: 10px;
			label {
				width: 40px;
			}
		}
	}

	.sm-runes-pos-filters {
		position: relative;
		input[type=checkbox] {
		  transform: scale(1.5);
		}
		.sm-runes-pos-img {
			width: 60%;
			margin: auto;
			display: block;
		}
		.sm-checkbox {
			position: absolute;
		}
		.sm-checkbox-1 {
	        top: 20%;
    		left: 44%;
		}
		.sm-checkbox-2 {
	        top: 32%;
			left: 57%;
		}
		.sm-checkbox-3 {
	   	    top: 56%;
    		left: 57%;
		}
		.sm-checkbox-4 {
			top: 68%;
    		left: 44%;
		}
		.sm-checkbox-5 {
		    top: 56%;
    		left: 31%;

		}
		.sm-checkbox-6 {
		    top: 32%;
    		left: 31%;
		}
	}

	.sm-runes-types {
		display: flex;
	    flex-wrap: nowrap;
	    align-items: flex-start;
	    overflow: auto;
	    .sm-rune-type {
			margin-bottom: 5px;
		    align-self: auto;
		    margin-right: 5px; 
		    width: 60px;
		    height: 60px;
		    cursor: pointer;
		    .sm-rune-type-image {
				border-radius: 5px;
				width: 100%;
			}
		}
	}
	.sm-sheet-mid {
		margin-top: 10px;
	}
}